<section id="contact">

    <div class="el-content-area">
        <h2 class="el-title"  data-aos="fade-down" data-aos-duration="1000" data-aos-ease="ease-out">Nous joindre</h2>
        <div class="grid-contact">
            <article class="el-infos-contact">
                <div class="el-coordonnees"  data-aos="fade-right" data-aos-duration="1000" data-aos-ease="ease-out">
                    <h3>coordonnées</h3>
                    <ul class="coordonnee">
                        <li>
                            <a href="#">
                                <span class="el-center-box">
                                    <i class="fa fa-map"></i>
                                </span>

                                <p>50 Imp Annisrine Beausejour Casablanca - Maroc.</p>
                            </a>
                        </li>
                        <li>
                            <a href="tel:+212633628578">
                                <span class="el-center-box">
                                    <i class="fa fa-phone"></i>
                                </span>

                                <p>+212 6-3362-8578</p>
                            </a>
                        </li>
                        <li>
                            <a href="mailto:elongajosue22@gmail.com">
                                <span class="el-center-box">
                                    <i class="fa fa-envelope"></i>
                                </span>

                                <p>elongajosue22@gmail.com</p>
                            </a>
                        </li>
                    </ul>
                    <ul class="reseaux">
                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa fa-instagram"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                        <li><a href=""><i class="fa fa-youtube-play"></i></a></li>
                    </ul>
                </div>
                <iframe  data-aos="fade-up" data-aos-duration="1000" data-aos-ease="ease-out" class="googlemap" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3324.420069957505!2d-7.650627561314077!3d33.56844097234003!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa0a76c28d8b84a10!2sEsprit%20Bureau!5e0!3m2!1sfr!2sma!4v1618866856342!5m2!1sfr!2sma" allowfullscreen="" loading="lazy"></iframe>
            </article>
            <article class="el-forms">
                <form action="">
                    <div class="el-ligne">
                        <div class="el-colonne" data-aos="fade-right" data-aos-duration="1000" data-aos-ease="ease-out">
                            <input type="text" id="nom" name="nom" required>
                            <label for="nom">Nom</label>
                        </div>
                        <div class="el-colonne" data-aos="fade-left" data-aos-duration="1000" data-aos-ease="ease-out">
                            <input type="text" id="postnom" name="postnom" required>
                            <label for="postnom">Post-nom</label>
                        </div>
                    </div>
                    <div class="el-ligne">
                        <div class="el-colonne" data-aos="fade-right" data-aos-duration="1000" data-aos-ease="ease-out">
                            <input type="text" id="prenom" name="prenom" required>
                            <label for="prenom">Prenom</label>
                        </div>
                        <div class="el-colonne" data-aos="fade-left" data-aos-duration="1000" data-aos-ease="ease-out">
                            <input type="text" id="telephone" name="telephone" required>
                            <label for="telephone">Téléphone</label>
                        </div>
                    </div>
                    <div class="el-ligne">
                        <div class="el-colonne textarea"  data-aos="fade-up" data-aos-duration="1000" data-aos-ease="ease-out">
                            <textarea name="" id="" required></textarea>
                            <label for="nom">Message</label>
                        </div>
                    </div>
                    <div>
                        <button data-aos="fade-up" data-aos-duration="1000" data-aos-ease="ease-out" class="el-btn-submit" type="submit">envoyer</button>
                        <button data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200" data-aos-ease="ease-out" class="el-btn-reset" type="reset">annuler</button>
                    </div>
                </form>
            </article>
        </div>
    </div>

</section>

<footer>

    <div class="el-content-area">

        <div class="el-partie-haut">
            <article class="el-logo-et-reseaux-sociaux">
                <img data-aos="zoom-in" data-aos-duration="1000" data-aos-ease="ease-out" src="/img/logo.svg" alt="">
                <p data-aos="fade-right" data-aos-delay="200" data-aos-duration="1000" data-aos-ease="ease-out">Suivez nous sur les réseaux sociaux: </p>
                <ul>
                    <li data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000" data-aos-ease="ease-out"><a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                    <li data-aos="fade-up" data-aos-delay="600" data-aos-duration="1000" data-aos-ease="ease-out"><a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a></li>
                    <li data-aos="fade-up" data-aos-delay="800" data-aos-duration="1000" data-aos-ease="ease-out"><a href="https://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                    <li data-aos="fade-up" data-aos-delay="1000" data-aos-duration="1000" data-aos-ease="ease-out"><a href="https://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                    <li data-aos="fade-up" data-aos-delay="1200" data-aos-duration="1000" data-aos-ease="ease-out"><a href="https://www.youtube.com"><i class="fa fa-youtube-play"></i></a></li>
                </ul>
            </article>
            <article class="el-liens-importants">
                <h2 data-aos="fade-down" data-aos-delay="200" data-aos-duration="1000" data-aos-ease="ease-out">AMBASSADE ET CONSULAT DE LA RDC AU MAROC</h2>
                <ul>
                    <li data-aos="fade-right" data-aos-duration="1000" data-aos-ease="ease-out"><a href="">Accueil</a></li>
                    <li data-aos="fade-right" data-aos-delay="200" data-aos-duration="1000" data-aos-ease="ease-out"><a href="">Prise en charge</a></li>
                    <li data-aos="fade-right" data-aos-delay="400" data-aos-duration="1000" data-aos-ease="ease-out"><a href="">Authentification</a></li>
                    <li data-aos="fade-left" data-aos-delay="600" data-aos-duration="1000" data-aos-ease="ease-out"><a href="">Laissé passer</a></li>
                    <li data-aos="fade-left" data-aos-delay="800" data-aos-duration="1000" data-aos-ease="ease-out"><a href="">Ouverture frontière</a></li>
                    <li data-aos="fade-left" data-aos-delay="1000" data-aos-duration="1000" data-aos-ease="ease-out"><a href="">Lettre d’excuse</a></li>
                </ul>
            </article>
        </div>

        <p class="el-copyright">
            Ceci est le site officiel de l’Ambassade de la RDC au Maroc. <br>
            Copyright © 2022 Tous droits réservés | Ce modèle est réalisé avec <i class="fa fa-heart"></i> par EL-word
        </p>

    </div>

</footer>