<!DOCTYPE html>
<html lang="en">
<head>
    <title>Connexion</title>
    <%- include('layouts/head') -%> 
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/pages.css">
    <link rel="stylesheet" href="/css/responsive_mobile.css">
</head>
<body>
    <main>
        <%- include('layouts/navbar') -%> 

        <header class="header">
            <h1>Qui sommes-nous ?</h1>
        </header>

        <section id="presentation" class="el-center-box">
            <div class="el-content-area">
                <h2 class="el-title" data-aos="fade-down" data-aos-duration="1000" data-aos-ease="ease-out">Présentation</h2>
                <p  data-aos="fade-down" data-aos-duration="1000" data-aos-ease="ease-out">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus pariatur delectus, ipsum dolor esse odit laboriosam ipsa, harum nisi nam molestiae magni optio doloremque soluta velit sint maxime dolorem? Fuga ipsum aperiam vitae! Debitis deserunt quia iusto impedit. Porro blanditiis recusandae quos pariatur? Dignissimos neque quia sint sequi explicabo ad?
                </p>
            </div>
        </section>

        <section id="el-membres">
            <div class="el-content-area">
                <h2 class="el-title" data-aos="fade-right" data-aos-duration="1000" data-aos-ease="ease-out">Notre équipe</h2>
                <div class="el-grid-membres">

                    <article class="el-membre">
                        <div class="el-box-img">
                            <img class="el-img" src="https://source.unsplash.com/random/100×100/?passport" alt="">
                        </div>
                        <div class="el-content">
                            <h3 class="el-nom-membre">ELONGA ONASAMBI Josue</h3>
                            <legend class="el-poste-membre">Developper full-stack</legend>
                        </div>
                    </article>

                    <article class="el-membre">
                        <div class="el-box-img">
                            <img class="el-img" src="https://source.unsplash.com/random/100×100/?frontend" alt="">
                        </div>
                        <div class="el-content">
                            <h3 class="el-nom-membre">ELONGA ONASAMBI Josue</h3>
                            <legend class="el-poste-membre">Developper full-stack</legend>
                        </div>
                    </article>

                    <article class="el-membre">
                        <div class="el-box-img">
                            <img class="el-img" src="https://source.unsplash.com/random/100×100/?backend" alt="">
                        </div>
                        <div class="el-content">
                            <h3 class="el-nom-membre">ELONGA ONASAMBI Josue</h3>
                            <legend class="el-poste-membre">Developper full-stack</legend>
                        </div>
                    </article>
                    
                    <article class="el-membre">
                        <div class="el-box-img">
                            <img class="el-img" src="https://source.unsplash.com/random/100×100/?fullstack" alt="">
                        </div>
                        <div class="el-content">
                            <h3 class="el-nom-membre">ELONGA ONASAMBI Josue</h3>
                            <legend class="el-poste-membre">Developper full-stack</legend>
                        </div>
                    </article>

                </div>
            </div>
        </section>

        <section id="el-faq">
            <div class="el-content-area">
                <h2 class="el-title" data-aos="fade-down" data-aos-duration="1000" data-aos-ease="ease-out">Questions frequentes</h2>
                <div class="el-grid-membres">

                    <div class="el-tab" data-aos="fade-right" data-aos-duration="1000" data-aos-ease="ease-out">
                        <input type="radio" id="acc1">
                        <label for="acc1">
                            <h2 class="el-center-box">01</h2>
                            <h3>Processus de renouvellement passeport</h3>
                        </label>
                        <div class="el-content">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere, omnis saepe nesciunt laboriosam eligendi animi deserunt dicta nisi, non iste voluptates doloribus officiis modi consectetur sapiente. Tempora pariatur laborum voluptas?</p>
                        </div>
                    </div>

                    
                    <div class="el-tab" data-aos="fade-left" data-aos-duration="1000" data-aos-ease="ease-out">
                        <input type="radio" id="acc2">
                        <label for="acc2">
                            <h2 class="el-center-box">02</h2>
                            <h3>Document à fournir pour l'authentification</h3>
                        </label>
                        <div class="el-content">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere, omnis saepe nesciunt laboriosam eligendi animi deserunt dicta nisi, non iste voluptates doloribus officiis modi consectetur sapiente. Tempora pariatur laborum voluptas?</p>
                        </div>
                    </div>

                    <div class="el-tab" data-aos="fade-right" data-aos-duration="1000" data-aos-ease="ease-out">
                        <input type="radio" id="acc3">
                        <label for="acc3">
                            <h2 class="el-center-box">03</h2>
                            <h3>Comment puis-je faire pour avoir mon laisse passer</h3>
                        </label>
                        <div class="el-content">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere, omnis saepe nesciunt laboriosam eligendi animi deserunt dicta nisi, non iste voluptates doloribus officiis modi consectetur sapiente. Tempora pariatur laborum voluptas?</p>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <%- include('layouts/footer') -%>
    </main>
    <%- include('layouts/scripts') -%>
</body>
</html>